<html>

<head>
    <meta charset="UTF-8">
    <title>Homesteader's Workbook</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="site.css" />
</head>

<body>
    <h1>Plants</h1>
    <div class="headerBar">
        <a href="index.html">Home</a>
        <a href="plants.html">Plants</a>
        <a href="gardens.html">Gardens</a>
    </div>

    <div id="app">
        <h3>Add</h3>
        <form id="AddForm">
            <input type="text" id="add-name" v-model="addPlant.name" name="name" placeholder="New Plant name">
            <input type="text" id="add-description" v-model="addPlant.description" name="description"
                placeholder="New Description">
            <input type="button" value="Add" v-on:click="saveNew(addPlant)">
        </form>
        <div id="editForm" v-if="editPlant != null">
            <h3>Edit</h3>
            <form id="EditForm" onsubmit="updateItem()">
                <input type="hidden" name="ID" v-model="editPlant.id" id="edit-id">
                <input type="text" name="name" v-model="editPlant.name" id="edit-name">
                <input type="text" name="description" v-model="editPlant.description" id="edit-description">
                <input type="button" value="Save" v-on:click="saveEdit(editPlant)">
                <a v-on:click="editPlant = null" aria-label="Close">&#10006;</a>
            </form>
        </div>

        <p class="errorMessage" v-if="errorMessage">{{errorMessage}}</p>
        <p id="counter">{{counterText}}</p>
        <table class="displayContent">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
            <tbody>

                <tr v-for="plant in plants">
                    <td>{{plant.name}}</td>
                    <td>{{plant.description}}</td>
                    <td>
                        <button v-on:click="displayEditForm(plant)">Edit</button>
                    </td>
                    <td>
                        <button v-on:click="deletePlant(plant.id)">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
    <script src="VueCode/plantsdisplay.js"></script>

</body>

</html>